body{
    margin-left: 200px;
    background: #000000;
    

}
header{
    margin-top: 25px;
    display: flex;
    width: 1108px;
    height: 112px;
    gap: 130px;
    margin-left: 200px;
}

.logo-container{
    width: 112px;
    height: 112px;
    background: white;
    border-radius: 50%;

}

nav{
    width: 489px;
    height: 24px;
    margin-top: 10px;
    hr{
        width: 25px;
        position: absolute;
        top: 70px;
        left: 695px;
    }
   
}
nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 1.3rem;
    color: aliceblue;
}
#sign-up{
    font-size: 1rem;
    font-weight: 600;
    width: 120px;
    height: 45px;
    border-radius: 35px;
    margin-top: 20px;
    
}
.container2 {
    background: #171717;
    display: flex;
    border: solid 1px #757575;
    width: 1100px;
    height: 600px;
    margin-left: 130px ;
    margin-top: 50px;
    border-radius: 50px;

}
.content{
    margin-top: 50px;
    margin-left: 50px;
    
    h1{
        font-size: 4.5rem;
        color: white;
    
        span{
            font-size: 1.3rem;
            color: white;
        }
        
    }
    p{
        font-size: 1.1rem;
        color: white;
    }

}

button{
    font-size: 1rem;
    width: 130px;
    height: 45px;
    border-radius: 35px;
    text-decoration: ;

}

#buy-now{
    color: #173E00;
}

#explore{
    background: none;
    border: solid 1px white;
    color: white;
    margin-left: 10px;
}

.eclipse{
    width: 410px;
    height: 16px;
    
    position: absolute;
    top: 670px;
    left: 940px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(136, 138, 143, 0.94) 0%, rgba(240, 244, 255, 0.24) 100%);
    filter: blur(10px);
}

#shoe{
    width: 550px; 
    height: 500px;
    margin-top:40px; 

    position: absolute;
    left: 800px;
}


